# Youtube Pandas Basics - 1 hour
### https://www.youtube.com/watch?v=vmEHCJofslg&ab_channel=KeithGalli

Pandas provides high performance, easy to use data structures and data analysis tools.
Runs on top of Numpy
Pandas is more like a sheet. Nupy for low level data structure. Can use numpy to manipulate Pandas stuff- Pandas is built on Numpy, so need both. Same for matpolib and SciPy- both installed into my comp no worries

In [118]:
import numpy as np
import pandas as pd
poke = pd.read_csv('pokemon_data.csv')
print(poke.head(5)) #head function!!

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [114]:
#head of a paticular column
print(poke.info())
poke['Name'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
None

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [120]:
poke.Name.head() #We can access a single column without need for block brackets!!!

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [14]:
print(poke.tail(5))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [15]:
#can also load from excel and txt
poke_xlsx=pd.read_excel('pokemon_data.xlsx')
print(poke_xlsx.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [16]:
poke_txt=pd.read_csv('pokemon_data.txt', delimiter='\t') #delimiter is tab
print(poke_txt.head(2))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

## Reading Data in Pandas

In [17]:
print(poke.head(2))
#Read the headers
print(poke.columns) 
#extract a single column and specify which items 
print(poke['Name'][0:3]) 
print("\n")
#same thing as above
print(poke.Name[0:3])
print("\n")
#to print multiple columns, make it a list
print(poke[['Name','HP']][0:3])
print("\n")
#Show all entries in a particular row(s)
print(poke.iloc[0:3]) 
print("\n")
#Show item at a specific location
print(poke.iloc[0,3])

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object


0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object


        Name  HP
0  Bulbasaur  45
1    Ivysaur  60
2   Venusaur  80


   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False


Poison

In [18]:
#find entry in specified column that has a given corresponding value in another column.
poke.loc[poke['Type 1']=="Fire"][['Name','Sp. Def']][0:5]

                        Name  Sp. Def
4                 Charmander       50
5                 Charmeleon       65
6                  Charizard       85
7  CharizardMega Charizard X       85
8  CharizardMega Charizard Y      115

In [19]:
poke.loc[poke['Type 1']=="Fire"][0:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False

In [20]:
#choose what to focus on from stats of the dataframe
poke.describe()[2:3]

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129

In [21]:
#ruond the values of the dataframe stats cuz they are originally way too many decimal points
round(poke.describe(),ndigits=2)

            #      HP  Attack  Defense  Sp. Atk  Sp. Def   Speed  Generation
count  800.00  800.00  800.00   800.00   800.00   800.00  800.00      800.00
mean   362.81   69.26   79.00    73.84    72.82    71.90   68.28        3.32
std    208.34   25.53   32.46    31.18    32.72    27.83   29.06        1.66
min      1.00    1.00    5.00     5.00    10.00    20.00    5.00        1.00
25%    184.75   50.00   55.00    50.00    49.75    50.00   45.00        2.00
50%    364.50   65.00   75.00    70.00    65.00    70.00   65.00        3.00
75%    539.25   80.00  100.00    90.00    95.00    90.00   90.00        5.00
max    721.00  255.00  190.00   230.00   194.00   230.00  180.00        6.00

## Sorting/Describing Data

In [22]:
# I can have all the pokemon starting with A with a block
poke.sort_values('Name', ascending= False)[:5]  bracket at the end

SyntaxError: invalid syntax (<ipython-input-22-0bb712dae5b6>, line 2)

In [23]:
#subgrouping is so cool..
poke.sort_values(['Type 1','Speed'],ascending=False)[:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
130,121,Starmie,Water,Psychic,60,75,85,100,85,115,1,False
466,419,Floatzel,Water,NaN,85,105,55,85,50,115,4,False
713,647,KeldeoOrdinary Forme,Water,Fighting,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,91,72,90,129,90,108,5,False

In [24]:
 #I can alter ascending so that first column is descending and second column is descending
poke.sort_values(['Type 1','Speed'],ascending=[0,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
85,79,Slowpoke,Water,Psychic,90,65,65,40,40,15,1,False
209,194,Wooper,Water,Ground,55,45,45,25,25,15,2,False
625,564,Tirtouga,Water,Rock,54,78,103,53,45,22,5,False
86,80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
693,632,Durant,Bug,Steel,58,109,112,48,48,109,5,False
605,545,Scolipede,Bug,Poison,60,100,89,55,69,112,5,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False

## Making Changes to Data

In [25]:
poke.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [26]:
print(poke['HP']*2)

0       90
1      120
2      160
3      160
4       78
      ...
795    100
796    100
797    160
798    160
799    160
Name: HP, Length: 800, dtype: int64

When rearranging data, always print before assigning! like so
~~~
print (poke.iloc[:, 4:10].sum(axis=1))
~~~

that way you can check the outcome of a code before fucking up the data itself

In [27]:
#add a column that builds on input from other columns
poke['Total']= poke['HP'] + poke['Attack']+poke['Defense']+poke['Sp. Atk']+poke['Sp. Def']+poke['Speed']
poke.sort_values('Total',ascending=False)[:5]
#remove that column
poke = poke.drop(columns=['Total']) #needs to be equated to the df to alter it directly
#another way to do it to sum the specified column items vertically
#we specify axis=1 to make it sum vertically, default is horizontal.
poke['Total'] = poke.iloc[:, 4:10].sum(axis=1)
poke.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [28]:
#define the columns as an object to be handled
cols = list(poke.columns.values)
#manually rearrange columns 0-3, then the last one, then the rest.
#the single column counts as a string thats why it has to be added within another set of block brackets
poke = poke[cols[0:4] + [cols [-1]] +cols[4:12]]
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving new Data

In [29]:
poke.to_csv('modified_pokemon.csv', index=False)

In [30]:
poke.to_excel('modified_pokemon.xlsx', index=False)

In [31]:
poke.to_csv('modifed_pokemon.txt', index=False, sep= '\t')

## Advanced Stuff- Filtering Data- 31 minute onwards

In [32]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [49]:
#I want to find all entries with two specific items in seperate columns
#before, i did this:
#print(poke.loc[poke['Type 1']=="Fire"][['Name','Sp. Def']][0:5])
#writing "and" wont work!! convention is and signal
print(poke.loc[(poke['Type 1'] == "Grass") & (poke["Type 2"] == "Poison") ][:5])

#write or sign "|" if I want all entries that are either of the two specified above
poke.loc[(poke['Type 1'] == "Grass") | (poke["Type 2"] == "Poison") ]

     #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0    1              Bulbasaur  Grass  Poison    318  45      49       49
1    2                Ivysaur  Grass  Poison    405  60      62       63
2    3               Venusaur  Grass  Poison    525  80      82       83
3    3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
48  43                 Oddish  Grass  Poison    320  45      50       55

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
48       75       65     30           1      False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [67]:
#Can also be with numbers, and can assign that as a seperate dataframe
grass_boss = poke.loc[(poke['Type 1'] == "Grass") & (poke["Type 2"] == "Poison") & (poke["HP"] > 70) ]
print(grass_boss)
#note that the old index is still there- might be annoying in certain cases
print(grass_boss.reset_index(drop= True, inplace= True))
grass_boss
#and old index gone!

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
50    45              Vileplume  Grass  Poison    490   75      80       85
77    71             Victreebel  Grass  Poison    490   80     105       65
652  591              Amoonguss  Grass  Poison    464  114      85       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
2        100      100     80           1      False
3        122      120     80           1      False
50       110       90     50           1      False
77       100       70     70           1      False
652       85       80     30           5      False
None

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [75]:
#Let's remove all names with Mega
#the squiggly line returns all that aren't what has been specified
#Plus I can mention that of the non-Megas, I only want the Grass and Poison. 
poke.loc[(~poke['Name'].str.contains('Mega')) & (poke['Type 1'] == "Grass") | (poke['Type 1'] == "Fire") ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [85]:
#Can filter with regular expressions
import re
#no spaces between the "|" sign cuz then it expects the entry to have a space in it..
#also, in case my entries are mixed capital and lower case,
#I add "flags=re.I"
poke.loc[poke['Type 1'].str.contains('Fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [90]:
#Let's get all pokemon with names starting with "Pi"
poke.loc[poke["Name"].str.contains("Pi")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False

In [98]:
#the reason I get all names with pi in it here is cuz of capital letter ignore
poke.loc[poke['Name'].str.contains('pi', flags=re.I, regex=True)]

#to get only the ones STARTING with "pi", write "^" before it
poke.loc[poke['Name'].str.contains('^pi', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

## Conditional Changes
We can change our dataframes based on the conditions we filter out by

In [107]:
#Say I wana change the Type 1 type Fire to Hotman
poke.loc[poke["Type 1"] == "Flameo", "Type 1"] = "Hotman"
poke.loc[poke["Type 1"] == "Hotman"][:5]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Hotman,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Hotman,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Hotman,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Hotman,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Hotman,Flying,634,78,104,78,159,115,100,1,False

This is VERY tricky, cuz if you alter something irreversibly, you need to have a checkpoint saved- like xlsx, to save from again.

In [108]:
#alas, all good things must come to an end
#poke.loc[poke["Type 1"] == "Fire", "Type 1"] = "Hotman"
poke.loc[poke["Type 1"] == "Hotman", "Type 1"] = "Fire"
poke.loc[poke["Type 1"] == "Fire"][:5]
#here, the ", Type 1" after the hotman is telling where I want a change to be made.
#For Type 1 equals Fire, Type 1 should change to Hotman, and v.v for

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [110]:
poke.loc[poke["Total"] > 500, ["Generation", "Legendary"]] = ["Epico Generation", "Extra Legendary"]
poke.loc[poke["Total"] > 500]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Epico Generation,Extra Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Epico Generation,Extra Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,Epico Generation,Extra Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,Epico Generation,Extra Legendary
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,Epico Generation,Extra Legendary
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Epico Generation,Extra Legendary
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Epico Generation,Extra Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Epico Generation,Extra Legendary
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Epico Generation,Extra Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Epico Generation,Extra Legendary

In [112]:
#loading back from checkpoint
poke = pd.read_excel("modified_pokemon.xlsx")
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Aggregate Statistics (Groupby)

In [132]:
#to see the vg hp and attack for each type 1 group
poke.groupby(["Type 1"]).mean().sort_values("Speed", ascending= False)#fuck cool
# So Steel pokemon have highest defense, Dragon has highest attack, Flying has highest speed.

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [139]:
print(poke.groupby(["Type 1"]).count()[:3])
print(poke.groupby(["Type 1"]).sum()[:3])

         #  Name  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1
Bug     69    69      52  69      69       69       69       69     69
Dark    31    31      21  31      31       31       31       31     31
Dragon  32    32      21  32      32       32       32       32     32

        Generation  Legendary
Type 1
Bug             69         69
Dark            31         31
Dragon          32         32
            #    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  \
Type 1
Bug     23080  3925    4897     4880     3717     4471   4256         222
Dark    14302  2071    2740     2177     2314     2155   2361         125
Dragon  15180  2666    3588     2764     3099     2843   2657         124

        Legendary
Type 1
Bug             0
Dark            2
Dragon         12

In [161]:
counts = poke.groupby(["Type 1", "Type 2"]).count()
counts["#"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: #, Length: 136, dtype: int64

## Working with large amounts of data